.border{
    border:2px solid red;
}
.border-blk{
    border:1px solid black;
    border-radius: 5px;
}
.flex{
    display : flex;
}
.align-items{
    align-items: center;
}
.justify-content{
    justify-content: center;
}
.space-between{
    justify-content:space-between ;
}
.space-around{
    justify-content:space-around ;
}
.invert{
    filter:invert(1);
}
.bg-blk{
    background-color: black;
    color:white;
}
.bg-grey{
    background-color: #0d0c0c;
}
.m-5{
    margin: 5px;
}
.p-5{
    padding: 5px;
}